.page-Special_最近更改 .mw-rollback-link {
	display: none;
}

.page-Special_监视列表 .mw-rollback-link {
	display: none;
}

.page-Special_链出更改 .mw-rollback-link {
	display: none;
}

.action-history .mw-rollback-link {
	display: none;
}
