.markrights-bureaucrat:after {
	color: black;
	content: "政";
}

.markrights-checkuser:after {
	color: purple;
	content: "查";
}

.markrights-oversight:after {
	color: purple;
	content: "監";
}

.markrights-oversight:lang(zh-hans):after,
.markrights-oversight:lang(zh-cn):after,
.markrights-oversight:lang(zh-my):after,
.markrights-oversight:lang(zh-sg):after {
	color: purple;
	content: "监";
}

.markrights-sysop:after {
	color: mediumvioletred;
	content: "管";
}

.markrights-interface-admin:after {
	color: mediumvioletred;
	content: "介";
}

.markrights-interface-admin:lang(zh-hans):after,
.markrights-interface-admin:lang(zh-cn):after,
.markrights-interface-admin:lang(zh-my):after,
.markrights-interface-admin:lang(zh-sg):after {
	color: mediumvioletred;
	content: "界";
}

.markrights-patroller:after {
	color: sienna;
	content: "巡";
}

.markrights-rollbacker:after {
	color: sienna;
	content: "退";
}

.markrights-autoreviewer:after {
	color: sienna;
	content: "免";
}

.markrights-accountcreator:after {
	color: blue;
	content: "建";
}

.markrights-accountcreator:lang(zh-hans):after,
.markrights-accountcreator:lang(zh-cn):after,
.markrights-accountcreator:lang(zh-my):after,
.markrights-accountcreator:lang(zh-sg):after {
	color: blue;
	content: "创";
}

.markrights-massmessage-sender:after {
	color: blue;
	content: "發";
}

.markrights-massmessage-sender:lang(zh-hans):after,
.markrights-massmessage-sender:lang(zh-cn):after,
.markrights-massmessage-sender:lang(zh-my):after,
.markrights-massmessage-sender:lang(zh-sg):after {
	color: blue;
	content: "发";
}

.markrights-confirmed:after {
	color: green;
	content: "確";
}

.markrights-confirmed:lang(zh-hans):after,
.markrights-confirmed:lang(zh-cn):after,
.markrights-confirmed:lang(zh-my):after,
.markrights-confirmed:lang(zh-sg):after {
	color: green;
	content: "确";
}

.markrights-bot:after {
	color: blue;
	content: "機";
}

.markrights-bot:lang(zh-hans):after,
.markrights-bot:lang(zh-cn):after,
.markrights-bot:lang(zh-my):after,
.markrights-bot:lang(zh-sg):after {
	color: blue;
	content: "机";
}

.markrights-flood:after {
	color: mediumvioletred;
	content: "機";
}

.markrights-flood:lang(zh-hans):after,
.markrights-flood:lang(zh-cn):after,
.markrights-flood:lang(zh-my):after,
.markrights-flood:lang(zh-sg):after {
	color: mediumvioletred;
	content: "机";
}

.markrights-ipblock-exempt:after {
	color: green;
	content: "代";
}